<section id="about-main-head-section" >
  <div class="row dark">
    <div class="container">
      <div class="jumbotron">
                <div class="align-justify">
                  <h2 class="about">Our Main motto:</h2>
                </div>
                <blockquote><p class="quotation"> 
                There is only thing that makes a dream impossible to achieve: the fear of failure.</p>
                <footer>— Paulo Coelho</footer>
                </blockquote> 
              
              <div class="col flex-xs-middle align-justify mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p class="lead">
                        <strong>ArtusLine</strong>
                        provides fairly clear priced deal for Client's.
                        We provide you with a fair value for the services that we offer.
                        
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col flex-xs-middle align-justify mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p class="lead"><strong>ArtusLine</strong> is small delivery startup service which is ready to meet customer needs.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col flex-xs-middle align-justify mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p class="lead">
                         My start-ups – from founder to employees – are staffed with industry veterans.
                         I have previous experience in Logistic and Transport Company and my learning experience I put into life.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col flex-xs-middle align-justify mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p class="lead">
                        We’re offering a complete service that manages your delivery.
                        We are not only reliable Company but also honest offering you solution if problem occure.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col flex-xs-middle align-justify mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p class="lead">
                        Service With A Passion. Our service does not stop at 5pm, as we are available for you after hours and on weekends to ensure that your packages
                        get to where they need to go.
                        Our solution is simple you are choosing time delivery and we work hard to make you happy.
                        We work 24 hours a day, 7 days a week. We deliver the highest level of service to your door.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col flex-xs-middle align-justify mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p class="lead">
                        Fully insured.
                      </p>
                    </div>
                  </div>
              </div>
         
      </div>
    </div>
  </div>
</section>

