<!--SERVICE-MAIN-SECTION-->
<section id="services-main-section" class="bg-light text-muted py-5">
  <div class="container">
      <div class="row">
        <div class="col text-center mb-5">
          <dic class="p-5">
            <h1 class="dsplay-4">Our Services</h1>
            <p class="lead">
              As we are starting from scratch we offer a range of different services,  that can be tailored to your needs.
              <br>
              We are focus with Passion on Customer Service. We love to provide a top level of service.
              Our Service is clear, concise, complelling and consistent.
            </p>
        </div>
      </div>
      
      <div class="row mb-5">
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Courier Delivery</h3>
            <p>
              After chatting with you and getting to know your place,
              we’ll know what kind of guests are a good fit and
              we’ll ensure that you get the right people paying the right rates..
            </p>
          </div>
          <div class="col-sm-3 col-md-6 flex-xs-middle">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/artusbay-delivery-services/inside-van_dark.jpeg" alt="Manage Airbnb">
          </div>
      </div>
      <div class="row mb-5">
          <div class="col-sm-3 col-md-6 flex-xs-middle">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/artusbay-delivery-services/Our+Services/home-removal.jpeg" alt="Manage Airbnb">
          </div>
          
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Home Removal&Man with Van</h3>
            <p class="text-center">
              We will help you with loading and unloading the parcels when you are moving home.
              My Company will take care of all the stuff so you can focus on other things.
              My Company with business partner can help Landlors if they want refurbish the property.
            </p>
          </div>
      </div>
      <div class="row mb-5">
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Self-Load</h3>
            <p>
              If you want minimise the costs even further you may ordering man with van with self-load.
              You can handle the loading by yourself paying less only for transport. 
            </p>
          </div>
          <div class="col-sm-3 col-md-6 flex-xs-middle">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/artusbay-delivery-services/Our+Services/inside+_van.jpg" alt="Manage Airbnb">
          </div>
      </div>
      <div class="row mb-5">
          <div class="col-sm-3 col-md-6">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/artusbay-delivery-services/Our+Services/commercial-removal.jpeg" alt="Manage Airbnb">
          </div>
          
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Commercial removals</h3>
            <p>
              We help with commercial equipment moving. This offer is suitable for offices, shops, and workplaces. 
            </p>
          </div>
      </div>
      <div class="row mb-5">
            <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
              <h3 class="text-center mb-4">Packing</h3>
              <p>
                As we care of our client's belongings we offer special service with professional packing team.
                We provide our own boxes stock with knowledge how to pack different items.
                Our service include efficiently work with packing materials.
              </p>
            </div>
            <div class="col-sm-3 col-md-6 flex-xs-middle">
              <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/artusbay-delivery-services/Our+Services/packing.jpeg" alt="Packing">
            </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-3 col-md-6">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/towel_stock2.jpeg" alt="Laundry&Fresh towels">
          </div>
          
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Laundry Delivery</h3>
            <p>
              We can also offer laundry stock with delivery new fresh towels for each time when new guests arrive.
            </p>
          </div>
      </div>
      <div class="row mb-5">
            <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
              <h3 class="text-center mb-4">Restock</h3>
              <p>
                Condiments? Toilet paper? Shampoo? We’ll make sure your place remains fully stocked. 
                Oh, and we can add a fresh fruit bowl and bottle of wine for every new guest.
              </p>
            </div>
            <div class="col-sm-3 col-md-6 flex-xs-middle">
              <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/restock.jpeg" alt="Restock">
            </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-3 col-md-6">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/cleaning_services.jpeg" alt="Cleaning">
          </div>
          
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Cleaning Service</h3>
            <p>
              We can organise professional cleaners to ensure your place is spotless and ready for your next guest. 
              We can even arrange a laundry service. We’ll make sure your place remains immaculate.
            </p>
          </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
              <h3 class="text-center mb-4">Storage solution</h3>
              <p>
                If you need a storeroom for your piece of furniture, a box of trinkets, or some other item until you might figure out what to do with it.
                We can store your home personals in a safe storage vault so you never have to worry about your favorite things getting damaged. 
                We also offer this service for traveling guests with too much luggage.
              </p>
            </div>
            <div class="col-sm-3 col-md-6 flex-xs-middle">
              <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/storage_solution.jpeg" alt="Storage solution">
            </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-3 col-md-6">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/airport+pickup.jpeg" alt="Airport pick up">
          </div>
          
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Airport pick up</h3>
            <p>
              We can organise professional cleaners to ensure your place is spotless.
              If your guests need a driver to pick them up from the airport and safely get them to their abode.
              We can do that too.
            </p>
          </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
              <h3 class="text-center mb-4">24-hour Service</h3>
              <p>We offer a 24-hour concierge service, always available to handle your guests’ questions and requests, making their stay (and your life) much easier.</p>
            </div>
            <div class="col-sm-3 col-md-6 flex-xs-middle">
              <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/welcome_offer.jpeg" alt="24-hour Service">
            </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-3 col-md-6">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/phone_support.jpeg" alt="Phone Support">
          </div>
          
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3 class="text-center mb-4">Phone support</h3>
            <p>
              No matter what time of the day or night, we respond to all guest enquiries, and it’s this fast response that gets you a high success rate.
              It also means you can take bookings while you’re away, on a plane or even while you sleep.
            </p>
          </div>
        </div>
      
  </div>
</section>
  
<!--<section id="service-main-head-section" >
  <div class="container">
    <div class="row text-center">
      <div class="jumbotron1">
        <div class="p-5 text-center">
          <h1>Website Under Construction!</h1>
          <div align="center">
            <hr>
          </div>
          <h2>I am working hard to make it happened!<br> 
          Stay Tuned!</h2>
        </div>
      </div>
    </div>
  </div>
</section>-->